<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OrderWebApp</title>
    <link rel="stylesheet" type="text/css" href="~/css/main.css" />
    <link rel="stylesheet" type="text/css" href="~/css/menu.css" />

    @RenderSection("AddCss", required: false)
</head>
<body>
    <div class="menu">
        <ul>
            <li> <a asp-controller="Home" asp-action="Index">Главная</a> </li>
            <li> <a asp-controller="OrderList" asp-action="Index">Сделать заказ</a> </li>
            <li> <a asp-controller="OrderList" asp-action="Index">Список заказов</a> </li>
        </ul>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>