@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Главная";
}

<h1 class="centered big_text">
    Добро пожаловать на главную страницу OrderWebApp!
</h1>

<div class="centered middle_text ">
    Вы можете создать новый заказ или посмотреть список уже существующих, переходя по ссылкам в меню.
 </div>