@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Главная";
}

@section AddCss
{
    <link rel="stylesheet" type="text/css" href="~/css/home.css" />
}

<h1 class="homepage_common" style="font-size: 200%;">
    Добро пожаловать на главную страницу OrderWebApp!
</h1>

<div class="homepage_common" style="font-size: 150%;">
    Вы можете создать новый заказ или посмотреть список уже существующих, переходя по ссылкам в меню.
 </div>