@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Сделать заказ";
}

@model String

<div class="centered middle_text" style="margin:30px">
    Спасибо, что сделали заказ! Номер вашего заказа - "@Model". Посмотреть все заказы вы можете перейдя по ссылке "Список заказов" в меню.
</div>